{% extends 'base.html' %}

{% block content %}

<div class="row">
	<div class="col-md-12">
		<div class="well">
			<h1>Capture Details for Count {{count}}</h1>
			<p>
				{% for count_header in count_headers %}
				  {{count_header.count_date}} - {{count_header.description}} <br />
				{% endfor %}
			</p>
		</div>	
	</div>
</div>

<div class="row">
	<div class="col-md-12">
	<form class="form-inline">
		<div class="form-group">
			<label for="exampleInputName2">Search</label>
			<input type="text" class="form-control" id="searchInput" placeholder="Search">
		</div>
	</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-hover"> 
			<thead> 
				<tr>
					<th>Item Code</th>
					<th>Count {{count}}</th>
					<th>Bin</th>
                    <th>Result</th>
				</tr>
				</thead> 
			<tbody id="fbody">
				{% for line in lines %}
					<tr>
                        {% if count != 3 %}
						    <td>{{line.inventory.item_code}}</td>
                        {% else %}
                            {% if line.count_1 != line.count_2%}
                                <td>{{line.inventory.item_code}}</td>
                            {% endif %}
                        {% endif %}
						<td>
							{% if count == 1 %}
								<input id="{{line.inventory.item_code}}" name="{{line.inventory.item_code}}" data-count="1" class="capture" type="text" value="{{line.count_1}}" name="">
							{% elif count == 2 %}
								<input id="{{line.inventory.item_code}}" name="{{line.inventory.item_code}}" data-count="2" class="capture" type="text" value="{{line.count_2}}" name="">
                            {% else %}
                                {% if line.count_1 != line.count_2 and line.count_1 and line.count_2 %}
                                <input id="{{line.inventory.item_code}}" name="{{line.inventory.item_code}}" data-count="3" class="capture" type="text" value="{{line.count_3}}" name="">
                                {% endif %}
							{% endif%}
						</td>
                        <td>
                            {{ line.category.name }}
                        </td>
						<td>
							<p id="lbl{{line.inventory.item_code}}" class="text-success"></p>
						</td>

					</tr>
				{% endfor %}
			</tbody> 
		</table>
	</div>
</div>

{% endblock %}
